<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title>美国觅家置业早知道</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="./home_tutorial_qa.js"></script>
  <link rel="stylesheet" type="text/css" href="./home_tutorial_qa.css">
</head>
<body>
  <div class='container'>
    <div class='content'>
      <div class='time'></div>
      <div class='left-block'>  
        <div class='meejia-block block'>
          <div class='meejia-avatar'></div>
          <div class='meejia-answer answer'>
            我通过了你的朋友验证请求，现在我们可以开始聊天了
          </div>
        </div>
      </div>
      <div class='right-block'>
        <div class='my-block block'>
          <div class='my-answer answer'>
          </div>
        </div>
      </div>
    </div>
    <div class='auto-reply'>
      <div class='reply-btn hidden delay-show'>我有很多美国买房问题！！！</div>
    </div>
  </div>
</body>
</html>
