<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title></title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css' rel='stylesheet' />
  
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js'></script>

  <style>
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
    }
    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%
    }
    .popup {
      text-align: center;
    }
    .popup .slideshow .image{
      display: none;
    }
    .popup .slideshow .image.active {
      display: block;
    }
    .popup .slideshow img {
      width: 100%;
    }
    .popup .slideshow .caption {
        background: #eee;
        padding: 10px;
    }
    .popup .cycle {
        padding: 10px 0 20px;
    }
    .popup .cycle a.prev {
      float:left;
    }
    .popup .cycle a.next {
      float:right;
    }
    .mapboxgl-map{
      position: relative;
      width: 100%;
    }
    .mapboxgl-popup {
      width: 90%;
      margin: 0 auto;
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: none !important;
      overflow-y: auto;
    }
    .marker {
      border: none;
      border-radius: 50%;
      cursor: pointer;
      height: 60px;
      width: 60px;
    }
    .coordinates {
      background: rgba(0,0,0,0.5);
      color: #fff;
      position: absolute;
      bottom: 10px;
      left: 10px;
      padding: 5px 10px;
      margin: 0;
      font-size: 11px;
      line-height: 18px;
      border-radius: 3px;
      display: none;
    }
    #fly,.start {
      display: block;
      position: relative;
      margin: 0px auto;
      width: 70%;
      height: 40px;
      padding: 10px;
      border: none;
      border-radius: 3px;
      font-size: 12px;
      text-align: center;
      color: #fff;
      background: #ee8a65;
    }
    #fly{
      font-size: 14px;
    }
    .content {
      position: relative;
      width: 100%;
      height: 100%;
    }
    input{
      border: 1px solid #ccc;
      height: 20px;
      line-height: 20px;
    }
    .panel,.step {
      width: 90%;
      height: auto;
      position: absolute;
      top: 10%;
      left: 5%;
      border-radius: 10px;
      z-index: 2;
      background-color: white;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
    }
    #step{
      padding: 0;
    }
    .overlay{
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.2);
      z-index: 1;
      position: absolute;
      top: 0
    }
    .header {
      background: url("img/logo.png") no-repeat center center / contain;
      height: 30px;
      width: 100%;
    }
    .step-content{
      box-sizing: border-box;
      padding: 10px;
    }
    .hidden {
      display: none;
    }
    .step-item {
      font-size: 14px;
      line-height: 1.5;
      text-align: left;
    }
    .clickbutton{
      font-size: 16px;
      text-align: center;
    }
    .step-location{
      text-align: center;
      font-size: 16px;
    }
    .step-input{
      margin-right: 10px;
      border: 0;
      border-bottom: 1px solid #aaa;
      font-size: 14px;
      max-width: 100px;
      color: #333;
      text-align: center;
    }
    .steps-container{
      color: #666;
      width: 80%;
      max-width: 320px;
      margin: 10px auto;
    }
    .location-data{
      color: #ee8a65;
      display: inline-block;
    }
  </style>
</head>
<body>
<div class="content">
<div class="overlay"></div>
<div class="panel">
  <div class="header">
  </div>
  <p id="step">请把图中原点移到您家的位置</p>
  <button class="start">开始</div>
</div>
<div class="step hidden">
  <div class="header"></div>
  <div class="step-content"></div>
  <button id='fly' class="hidden">点击觅家到湾区</button>
</div>
<div id='map'></div>
<pre id='coordinates' class='coordinates'></pre>
</div>
<script>
  var uid = "<%=@uid%>";
  var loginPic = '';
  $.ajax({
    url: '/qr_code',
    data: {uid: uid},
    type: 'post',

    success: function(data) {
      data = JSON.parse(data);
      loginPic = data.url
    },
    error: function(data) {
      console.log(data)
    }
  });


    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: 'wx18034235da4be445', // 必填，公众号的唯一标识
        timestamp: '1471594625', // 必填，生成签名的时间戳
        nonceStr: 'leojyz', // 必填，生成签名的随机串
        signature: 'd56c6b2422ed7168f17c41a945fa14ce61e2ae14',// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    wx.ready(function(){
         console.log('here');
        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
      wx.onMenuShareTimeline({
        title: 'hello', // 分享标题
        link: 'www.meejia.cn', // 分享链接
        imgUrl: 'http://meejia.cn/img/default.jpeg', // 分享图标
        success: function () {
          // 用户确认分享后执行的回调函数
        },
        cancel: function () {
          // 用户取消分享后执行的回调函数
        }
      });
    });



    var homes =[];
    var agents = [];
    var personalInfo = {};
    var bidIndex = 0;
    var selectAgent;
    var cachedContent = '';

  function checkLogin() {
    $.ajax({
      url: '/check_login',
      data: {uid: uid},
      type: 'get',

      success: function(data) {
        data = JSON.parse(data);
        if (data.login == true) {
          var home = homes[bidIndex];
          if(home) {
            $('.step-content').html(cachedContent +
                '</p><a href="./home/' + home.id + '?glk=true&price=' + home.finalPrice + '">点击查看房屋详情</a>');
          }
        }

      },
      error: function(data) {
        console.log(data)
      }
    })
  }

  //  setInterval(checkLogin, 1500);

    window.$ = window.jQuery;

    var needFly = true;
    $('#fly').hide();

    mapboxgl.accessToken = 'pk.eyJ1IjoiZGV1Ym95IiwiYSI6ImNpcDg3cm1xMzAxN3VzeW5vdWd6YWx4c2IifQ.cU1CJ-BMZuoyHigylGe4gA';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',
        center: [114.02596652697486, 36.359101519740605],
        zoom: 4.5
    });

    var canvas = map.getCanvasContainer();

    var geojson = {
        "type": "FeatureCollection",
        "features": [{
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [114.02596652697486, 36.359101519740605]
            }
        }]
    };

    function mouseDown() {
        if (!isCursorOverPoint) return;

        isDragging = true;

        // Set a cursor indicator
        canvas.style.cursor = 'grab';

        // Mouse events
        map.on('mousemove', onMove);
        map.on('mouseup', onUp);
    }

    function onMove(e) {
        if (!isDragging) return;
        var coords = e.lngLat;

        // Set a UI indicator for dragging.
        canvas.style.cursor = 'grabbing';

        // Update the Point feature in `geojson` coordinates
        // and call setData to the source layer `point` on it.
        geojson.features[0].geometry.coordinates = [coords.lng, coords.lat];
        map.getSource('point').setData(geojson);
    }

    function getRegionPrice(long, lat) {
        $('.header').removeClass('hidden');
        $('.step').removeClass('hidden');
        $.ajax({
            url: '/priceFromGeocode',
            data: {long: long, lat: lat},
            type: 'get',

            success: function(data) {
              data = JSON.parse(data);
              personalInfo.resident = data.label
              $('.step').removeClass('hidden');
              $('.overlay').addClass('hidden');
              $('.step-content').html('<div class="step-item">' + '<div class="step-location">您的位置在<div class="location-data">' + data.label + '</div></div><div class="steps-container">步骤1: 每平米房价<br>' + '<input type="text" id="price" class="step-input" placeholder="例如：' +  data.price/10000 + '">万<br>' + '<br>' + '步骤2: 输入你当前房屋的面积<br><input type="text" id="indoor-size" class="step-input" placeholder="例如：100">平米<br><br>步骤3: 能额外支付的金额<br>' + '<input type="text" id="cash" class="step-input">' + '万人民币' + '</div>');
              $('#fly').show();
            },
            error: function(data) {
              console.log(data)
            }
        })
    }

    function onUp(e) {
        if (!isDragging) return;
        var coords = e.lngLat;

        // Print the coordinates of where the point had
        // finished being dragged to on the map.
        coordinates.style.display = 'block';
        coordinates.innerHTML = 'Longitude:' + coords.lng + '<br>' + 'Latitude:' + coords.lat;
        getRegionPrice(coords.lng, coords.lat)

        $('.step-content').removeClass('hidden');

        map.jumpTo({center: [coords.lng, coords.lat]});

        var zoomLevel = map.getZoom() + 3;
        if(zoomLevel > 9){
            zoomLevel = 9;
        }
        map.zoomTo(zoomLevel);

        canvas.style.cursor = '';
        isDragging = false;
    }

    map.on('load', function() {

        // Add a single point to the map
        map.addSource('point', {
            "type": "geojson",
            "data": geojson
        });

        map.setLayoutProperty('country-label-lg', 'text-field', '{name_zh}');

        map.addLayer({
            "id": "point",
            "type": "circle",
            "source": "point",
            "paint": {
                "circle-radius": 15,
                "circle-color": "#3887be"
            }
        });

        // If a feature is found on map movement,
        // set a flag to permit a mousedown events.
        map.on('mousemove', function(e) {
            var features = map.queryRenderedFeatures(e.point, { layers: ['point'] });

            // Change point and cursor style as a UI indicator
            // and set a flag to enable other mouse events.
            if (features.length) {
                map.setPaintProperty('point', 'circle-color', '#3bb2d0');
                canvas.style.cursor = 'move';
                isCursorOverPoint = true;
                map.dragPan.disable();
            } else {
                map.setPaintProperty('point', 'circle-color', '#3887be');
                canvas.style.cursor = '';
                isCursorOverPoint = false;
                map.dragPan.enable();
            }
        });

        // Set `true` to dispatch the event before other functions call it. This
        // is necessary for disabling the default map dragging behaviour.
        map.on('mousedown', mouseDown, true);
    });

    map.once('moveend', function(){

    });

    function hidePopup() {
        $('.panel').addClass('hidden');
        $('.overlay').addClass('hidden');
        $('.step-content').addClass('hidden');
        $('.header').addClass('hidden');
        $('.step').addClass('hidden');
    }

    $('.start').on('click',function(){
        hidePopup();
    });

    document.getElementById('fly').addEventListener('click', function () {
        // Fly to a random location by offsetting the point -74.50, 40
        // by up to 5 degrees.
        var propertyValue = parseInt($('#indoor-size').val()) * parseFloat($('#price').val()) * 10000
                + (parseInt($('#cash').val()) || 0) * 10000
        personalInfo.propertyValue = (propertyValue / 6.67 / 10000).toFixed(2) ;


        $('overlay').addClass('hidden');

       loadHome( {indoor_size: $('#indoor-size').val(), price: $('#price').val() * 10000, cash: $('#cash').val() * 10000 });
        $('.step').addClass('hidden');
    });

    function zoomIn(coords) {
        coordinates.innerHTML = 'Longitude:' + coords.lng + '<br>' + 'Latitude:' + coords.lat;
        getRegionPrice(coords.lng, coords.lat)
        $('.step-content').removeClass('hidden');
        map.jumpTo({center: [coords.lng, coords.lat]});

        var zoomLevel = map.getZoom();
        if(zoomLevel > 9 && zoomLevel < 12){
            zoomLevel += 1;
        } else if (zoomLevel < 9.5) {
            zoomLevel += 3
        }

        map.zoomTo(zoomLevel);

        geojson.features[0].geometry.coordinates = [coords.lng, coords.lat];
        map.getSource('point').setData(geojson);
    }

    map.on('click', function (e) {
        hidePopup();
        var features = map.queryRenderedFeatures(e.point, { layers: ['homes', 'route'] });
        if (!features.length && needFly) {
           zoomIn(e.lngLat);
           return
        }

        var feature = features[1];

        // Populate the popup and set its coordinates
        // based on the feature found.
        if(feature){
            // found marker
            var popup = new mapboxgl.Popup()
                    .setLngLat(map.unproject(e.point))
                    .setHTML(feature.properties.description)
                    .addTo(map);
            if (map.getZoom() < 10.5 ) {
                map.setCenter(e.lngLat);
                 map.zoomIn(map.getZoom() + 3);
             }

        } else if( features.length > 0 ) {
            var feature = features[0];
            // click on region
            var popup = new mapboxgl.Popup()
                    .setLngLat(map.unproject(e.point))
                    .setHTML(feature.properties.description)
                    .addTo(map);
        }
    });

    function loadHome(data){
        console.log(data);

        $.ajax({
            url: '/homeForMe',
            data: data,
            type: 'get',

            success: function(data) {
                console.log(data);
                data = JSON.parse(data);
                // step.innerHTML= '我们为你换到了1处湾区房产';

                // Create custom popup content

                var popupContent = '';
                for (var key in data) {
                    homes = homes.concat(data[key]);
                }

                var featureHomes = [];

                $('.step').removeClass('hidden');
                $('.overlay').addClass('hidden');
                $('.panel').removeClass('hidden');

                if(homes.length > 0) {
                    loadAgent(false);
                    map.flyTo({
                        center: [
                            -121.938102434,
                            37.60092460002588],
                        zoom: 8.5
                    });
                    $('.panel').addClass('hidden');
                    $('.step-content').html('<div class="step-item">您的资产' + personalInfo.propertyValue  + '万美元。' + homes.length + '处加州湾区的房产供您选择, 您可以查看他们所在地区并尝试购买.</div>')
                    needFly = false;

                    $('#fly').hide();

                    var geo_points = [];
                    for(var i in homes) {
                        popupContent =  getPopUpContent({
                            title: (homes[i].chinese_home_type + ':' + homes[i].price),
                            images: homes[i].images,
                            description: homes[i].short_desc,
                            purchase_index: i});
                        geo_points = homes[i].geo_point.split(',');
                        featureHomes.push({
                            "type": "Feature",
                            "geometry": {
                                "type": "Point",
                                "coordinates": [geo_points[1], geo_points[0]]
                            },
                            "properties": {
                                "title": homes[i].chinese_home_type,
                                "icon": "town-hall",
                                "description": popupContent
                            }
                        })

                    }
                    map.addSource("homes", {
                        "type": "geojson",
                        "data": {
                            "type": "FeatureCollection",
                            "features": featureHomes
                        }
                    })
                    map.addLayer({
                        "id": "homes",
                        "type": "symbol",
                        "source": "homes",
                        "layout": {
                            "icon-image": "{icon}-15",
                            "icon-allow-overlap": true,
                            "text-field": "{title}",
                            "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
                            "text-offset": [0, 0.6],
                            "text-anchor": "top"
                        },
                        "paint": {
                            "icon-color": '#123456',
                            "text-color": 'purple'
                        }
                    });

                    addRegionPolygon(data);

                } else {
                    var indoorSize = $('#indoor-size').val();
                    var price = $('#price').val();
                    var cash =  $('#cash').val() || 0;
                    $('.step-content').html('<div class="step-item"><div class="steps-container">您所在地的每平米房价' + '<input type="text" id="price" class="step-input" value="' +  price + '">万人民币<br>' + '面积 <input class="step-input" type="text" id="indoor-size" value="' + indoorSize + '">平米<br> ' + '您现有住房不足以换到美国房产, 请选择另一处房产或输入您能补出的金额:<br> ' + '<input class="step-input" type="text" id="cash" value="' + cash +'">' + '万人民币后再试</div></div>'
                    );
                }

// transform 有问题
//                var marker = geojson.features[0];
//                var el = document.createElement('button');
//                el.className = 'marker';
//                el.style.backgroundImage = 'url(https://placekitten.com/g/60/60)';
//
//                el.addEventListener('click', function() {
//                    window.alert(marker.properties.message);
//                });
//
//                // add marker to map
//                console.log(el);
//                new mapboxgl.Marker(el)
//                    //.setLngLat(new mapboxgl.LngLat(marker.geometry.coordinates[0],marker.geometry.coordinates[1]))
//                        .setLngLat(marker.geometry.coordinates)
//                        .addTo(map);

            },

            error: function() {
              console.log('error')
            }
        });
    }

  function getPopUpContent(data) {
      var slideshowContent = '';

      for (var i in data.images) {
          slideshowContent += '<div class="image ' + ( (i == 0) ? 'active' : '') + '">' +
                  '<img src="' + data.images[i] + '" />' +
                  '<div class="caption">' + data.description + '</div>' +
                  '</div>';
      }

      var popup = '<div id="' + 'id:1' + '" class="popup">' +
              '<h2>' + data.title + '</h2>' + '</a>' +
              '<div class="slideshow">' +
              slideshowContent +
              '</div>';

         if (data.purchase_index != undefined) {
           popup += '<button onclick="buyHouse(' + data.purchase_index+ ')">我要竞购</button>';
         }

         popup +=
              '<div class="cycle">' +
              '<a href="#" class="prev">&laquo; 上一张</a>' +
              '<a href="#" class="next">下一张 &raquo;</a>' +
              '</div>' +
      '</div>';

      return popup;
  }

  function buyHouse(purchaseIndex) {
      bidIndex = purchaseIndex;
      $('.step').removeClass('hidden');
      $('.step-content').removeClass('hidden');
      $('.header').removeClass('hidden');

      if(agents.length > 0){
          var content = '<div><p>你需要选择一位经纪人</p>'
          for(var i in agents) {
              content += '<div onclick="bidHome(' + i + ')"><p>' + agents[i].cn_name + '</p><img src="' + agents[i].head_image + '" height="42" width="42"/></div>';
          }
          $('.step-content').html(content);

      } else {
         loadAgent(purchaseIndex);
      }
  }

  function bidHome(agentIndex) {
      selectAgent = agents[agentIndex];
      var offerCount = 1 + parseInt(Math.random() * 15);
      var content = '<p>' + selectAgent.cn_name + ': 有' + offerCount + '名买家也对此房感兴趣。</p>';
      content += '您的最终出价<input type="text" id="bidPrice" value="' + parseFloat(homes[bidIndex].price) +
              '">万美元 <button onclick="makeOffer(' + offerCount + ')">出价</button>';

      $('.step-content').html(content);
  }

  function makeOffer(count) {
      var home = homes[bidIndex];
      var needPrice = parseFloat(home.price);

      for (var i = 0; i < count; i ++) {
          var increasePrice = 0.1 + Math.random();
          needPrice += increasePrice;
      }

      console.log(needPrice);

      var finalPrice = parseFloat($('#bidPrice').val());
      var listPrice = parseFloat(home.price);

      if( finalPrice >= needPrice){
          $('.step-content').html('<p>恭喜您以' + finalPrice + '万美元(仅溢价' +
                  (finalPrice - listPrice).toFixed(2) + '万美元)购得此' +
                  home.bed_num + '卧室' + home.chinese_indoor_size + '的' + home.chinese_home_type +
                 '<p>扫描此二维码分享此房屋</p>' +
                 '<img src="' + loginPic + '"></img>');
        homes[bidIndex].finalPrice = finalPrice;
        cachedContent = '<p>恭喜您以' + finalPrice + '万美元(仅溢价' +
            (finalPrice - listPrice).toFixed(2) + '万美元)购得此' +
            home.bed_num + '卧室' + home.chinese_indoor_size + '的' + home.chinese_home_type

      } else {
          var content = '<p>' + selectAgent.cn_name + ':有' + count + '名买家同您竞价, 您的报价并非最高,别的买家一般都会加价1千到1万美元</p>';

          content += '请提高报价至<input type="text" id="bidPrice" value="' + parseFloat(finalPrice) +
                  '">万美元 <button onclick="makeOffer(' + count + ')">出价</button> <button onclick="hidePopup()">放弃</button>';

          $('.step-content').html(content);
      }

  }

  function loadAgent(purchaseIndex) {
      $.ajax({
          url: '/agents',
          type: 'get',

          success: function(data) {
            agents = JSON.parse(data);
            if(purchaseIndex != false) buyHouse(purchaseIndex)
          },
          error: function () {
          }
      });
  }

  function addRegionPolygon(data){

      map.addSource('bayarea', {
          'type': 'geojson',
          'data': {
              'type': 'FeatureCollection',
               'features': [
                   {
                       'type': 'Feature',
                       'properties': {
                           'description': getPopUpContent({title: '科技公司的圣地：硅谷', images: ['./img/company1.jpg',
                               './img/company2.jpg', './img/company3.jpg'], description: '硅谷硅谷（英语：Silicon Valley），是高科技事业云集的美国加州圣塔克拉拉谷的别称。' +
                                   '位于加利福尼亚州北部，旧金山湾区南部；一般包含圣塔克拉拉县和东旧金山湾区的费利蒙市。' +
                                   '最早是研究和生产以硅为基础的半导体芯片的地方，因此得名。尽管美国和世界其他高新技术区都在不断发展壮大，' +
                                   '但硅谷仍然是高科技技术创新和发展的开创者，该地区的风险投资占全美风险投资总额的三分之一。'})
                       },
                       'geometry': {
                           'type': 'Polygon',
                           'coordinates': [[
                               [-122.120558173, 37.36128208455243],
                               [-122.093895106, 37.396594552822904],
                               [-122.012323669, 37.44442727108121],
                               [-121.78740852387352, 37.39690891083079],
                                  [-121.71963297261476, 37.28090740808216],
                                  [-121.7286308989527, 37.16386640279954],
                                   [-121.98106133616318, 37.238378865134095]
                           ]]
                       }
                   },
                   {
                       'type': 'Feature',
                       'properties': {
                           'description': getPopUpContent({title: '连接旧金山和硅谷的轴心', images:['./img/peninsula.jpeg'], description: '介于旧金山和南湾的地区是旧金山半岛，当地常简称为“半岛（The Peninsula）”。' +
                                   '这地区由圣马刁县的数个中小型城市和近郊社区和圣塔克拉拉县西北部份所组成，也包含数个太平洋岸边的城镇，' +
                                   '如柏思域加(Pacifica）和半月湾(Half Moon Bay）。虽然有许多富有家庭居住在此，半岛居民的组成是相当多样化的。' +
                                   '这里许多城镇在二次世界大战后时期前仅是乡村生活的中心，战后，许多中产和富有家庭迁移至此，也带动当地发展。' +
                                   '自1980年代起，中产和富有家庭的数量因硅谷高科技产业的繁荣而急速成长。' +
                                   '来自外国的许多当地家庭，也是居民组成多样化的原因之一。'})
                       },
                       'geometry': {
                           'type': 'Polygon',
                           'coordinates': [[
                               [-122.44888177701301, 37.54936003402969],
                               [-122.42848944582954, 37.68012583958105],
                               [-122.29933801500056, 37.60630988245501],
                               [-122.21097124653886, 37.532420599472374],
                               [-122.36245713533066, 37.49236663949037]
                               ]]
                       }
                   },
                   {
                       'type': 'Feature',
                       'properties': {
                           'description': getPopUpContent({title: '最大的华人聚集区', images:['./img/east_bay.jpg'], description: '广义上的东湾包括康曲科士达县以及阿拉米达县全境，狭义则泛指两县滨临旧金山湾的城市，' +
                                   '包括最北的里奇蒙、奥伯尼、伯克利、爱莫瑞维尔、奥克兰、阿拉米达、圣利安卓、海沃、联合市、纽华克、以及佛利蒙。' +
                                   '东湾的华人社区传统上以奥克兰华埠为中心，但在其他小城市也发展了华人购物中心。相较于旧金山、半岛、北湾、和南湾，' +
                                   '东湾的房价比较便宜，但是气候却是最宜人的；没有旧金山的冷，也没有南湾的热。'})
                       },
                       'geometry': {
                           'type': 'Polygon',
                           'coordinates': [[
                               [-122.031810051, 37.67935730144269],
                               [-121.881295226, 37.57245306013864],
                               [-121.944414346, 37.50623390425844],
                               [-122.044433875, 37.50777455248313],
                               [-122.143482341, 37.586305439834575],
                               [-122.055115572, 37.624001636745746]
                           ]]
                       }
                   }

               ]

          }
      });

      map.addLayer({
          'id': 'route',
          'type': 'fill',
          'source': 'bayarea',
          'layout': {},
          'paint': {
              'fill-color': 'blue',
              'fill-opacity': 0.2
          }
      });
  }

    $('#map').on('click', '.popup .cycle a', function() {
        var $slideshow = $('.slideshow'),
                $newSlide;

        if ($(this).hasClass('prev')) {
            $newSlide = $slideshow.find('.active').prev();
            if ($newSlide.index() < 0) {
                $newSlide = $('.image').last();
            }
        } else {
            $newSlide = $slideshow.find('.active').next();
            if ($newSlide.index() < 0) {
                $newSlide = $('.image').first();
            }
        }

        $slideshow.find('.active').removeClass('active').hide();
        $newSlide.addClass('active').show();
        return false;
    });

</script>

</body>
</html>
