<!DOCTYPE html>
<html>
<head>
  <title>Meejia</title>
  <link href="//fonts.googleapis.com/css?family=Roboto:300,100,700" rel="stylesheet" type="text/css">
  <%= stylesheet_link '/css/bundle.css' %>
</head>
<body>
<div id="app"></div>
<div id="product"></div>
<div id="content"></div>
</body>
<%= javascript_tag '/js/bundle_vendor.js' %>
<%= javascript_tag '/js/bundle.js' %>
</html>
