<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title></title>
  <meta charset=utf-8 />
  <title>A simple map</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

  <script src='js/region_tutorial.js'></script>

  <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
  <style>
    #addSearch{
      position: fixed;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.6);
      z-index: 2000;
      top: 0;
    }
    .addmodal{
      position: fixed;
      background-color: white;
      z-index: 2000;
      width: 90%;
      height: 200px;
      top: 40px;
      border-radius: 10px;
      color: #555;
      left: 5%;
      padding: 80px 30px 30px;
      box-sizing: border-box;
      line-height: 1.5;
      font-size: 16px;
    }

    .close-x{
      position: fixed;
      top: 50px;
      right: 7%;
      color: #555;
      background-color: white;
      border: 0;
      z-index: 2001;
      font-size: 20px;
    }

    body {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      overflow: none;
    }
    .header{
      width: 100%;
      height: 50px;
      box-sizing: border-box;
      padding: 10px 0;
      box-shadow: 0 0 5px #ccc;
      position: relative;
      z-index: 2;
    }
    .logo{
      background: url("img/logo.png") no-repeat center center / contain;
      height: 30px;
      width: 100%;
    }
    .logo.modal-logo{
      position: fixed;
      top: 60px;
      z-index: 2001;
      width: 90%;
      left: 5%;
    }
    .rankings{
      width: 100%;
      height: auto;
      position: absolute;
      top: 50px;
      overflow-y: auto;
      z-index: 1200;
      background-color: white;
    }
    .title{
      font-size: 16px;
      line-height: 40px;
      border-bottom: 1px solid #ccc;
      box-sizing: border-box;
      padding: 0px 20px;
      position: relative;
    }
    .title:after{
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: #ee8a65 transparent transparent transparent;
      position: absolute;
      right: 20px;
      top: 13px;
      transition: all 0.3s;
    }
    .area.opened .title:after{
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #ee8a65 transparent;
    }
    .search-title{
      font-size: 16px;
      text-align: center;
      padding: 10px 0;
      box-shadow: 0 0 3px #ccc;
      background-color: #f8f8f8;
    }
    .rankings{
      font-size: 14px;
    }
    .ranking{
      padding: 0;
      margin: 0;
    }
    .hidden{
      display: none;
    }
    .item{
      list-style: none;
      width: 100%;
      font-size: 0;
      border-bottom: 1px solid #ccc;
      padding: 10px;
      box-sizing: border-box;
    }
    .item:nth-child(even){
      background-color: rgba(126,188,31,.1);
    }
    .item-name,.name,.price,.size{
      display: inline-block;
      font-weight: 300;
      font-size: 14px;
      color: #333;
      width: 30%;
      padding: 0;
      margin: 0;
      line-height: 1.5;
    }

    .interest{
      display: inline-block;
      font-weight: 300;
      font-size: 14px;
      color: #333;
      width: 10%;
      padding: 0;
      margin: 0;
      line-height: 1.5;
    }

    #map {
      visibility: hidden;
      position: absolute; 
      bottom: 0; 
      width: 100%; 
      height: calc(100% - 173px); 
    }

    .popup {
      text-align:center;
    }
    .popup .slideshow .image        { display:none; }
    .popup .slideshow .image.active { display:block; }
    .popup .slideshow img {
      width:100%;
    }
    .popup .slideshow .caption {
      background:#eee;
      padding:10px;
    }
    .popup .cycle {
      padding:10px 0 20px;
    }
    .look-map,.add-search {
      display: inline-block;
      height: 36px;
      padding: 0 20px;
      line-height: 36px;
      font-size: 14px;
      font-weight: 100;
      margin-top: 10px;
      border-radius: 5px;
      box-shadow: 0;
      outline: 0;
      border: 0;
      color: white;
    }
    .look-map{
      background-color: #74c005;
      width: 120px;
      margin: 20px calc(50% - 60px);
    }
    .add-search{
      background-color: #fbc03d;
    }
  </style>
</head>
<body>
<script>
  uid = "<%=@uid%>";
  loginPic = '';
  var CDN_URL = "<%= CDN_URL %>";
  var CLIENT_URL = "<%= MEEHOME_CLIENT_URL %>";
</script>

<script type="text/javascript">
  $(document).ready(function(e) {
     data = data[0];
     var $element = '';
     for(var i = 0; i < data.regions.length; i++) {
       $element += '<div class="area">';
       $element += ' <div class="title">' + data.regions[i].title + '</div>';
       $element += '<ul class="ranking';
       if(i>0) {
         $element += ' hidden';
       }
       $element += '">';
       $element += '<li class="item"> <h3 class="item-name">城市</h3> <p class="price">均价</p> <p class="size">概况</p> <p class="interest">感兴趣</p> </li>';
       for(var j = 0; j < data.regions[i].cities.length; j++) {
         $element += '<li class="item">';
         $element += '<h3 class="item-name name">' + data.regions[i].cities[j].name + '/' +  data.regions[i].cities[j].en + '</h3>';
         $element +=  '<p class="price">' + data.regions[i].cities[j].price + '</p>';
         $element +=  '<p class="size">' + data.regions[i].cities[j].summary + '</p>';
         $element += '<input type="checkbox" value="'  + data.regions[i].cities[j].en +'"></li>'
       }
       $element += '</li></ul></div>';
     }
    $('#ranking').prepend($element);
    $('.area').eq(0).addClass('opened');

    $('.title').click(function(e){
      var target = $(e.target);
      var list = target.parent('.area');
      var isHide = list.find('.ranking').hasClass('hidden');
      if (isHide) {
        list.addClass('opened');
        list.children('.ranking').removeClass('hidden');
      } else {
        list.removeClass('opened');
        list.children('.ranking').addClass('hidden');
      }
    });
  });
</script>

  <div class="header">
    <div class="logo">
    </div>
  </div>

  <div class="rankings" id="ranking">
    <button class='look-map' onclick="regionSelect()">查看地图</button>
  </div>

  <div id='map'></div>
  <div id='addSearch' style="display: none">
    <div class="logo modal-logo"></div>
    <button class="close-x" onclick="closeModal()">X</button>
    <div class="addmodal">已添加该地区到您的条件搜索。<br>您可随时返回公众号，点击条件搜索再次查看。</div>
  </div>
  <script>

    L.mapbox.accessToken = 'pk.eyJ1IjoiZGV1Ym95IiwiYSI6ImNpcDg3cm1xMzAxN3VzeW5vdWd6YWx4c2IifQ.cU1CJ-BMZuoyHigylGe4gA';
    map = L.mapbox.map('map', 'mapbox.streets').setView([37.5483, -121.9886], 10);
    var markers = new L.MarkerClusterGroup();

    function closeArea() {
    }

    function addSearch(city) {
      $.ajax({
        url: '/agent/add_customer_search',
        type: 'post',
        dataType: 'json',

        data: JSON.stringify(
            {customer_id: uid, regionValue: geoJson[city] , priceMin: 50.0, priceMax: 300.0}
        ),

        success: function(data) {
          $("#addSearch").show();
          setTimeout(function() { $("#addSearch").hide(); }, 6000);
        },
        error: function() {
        }
      });
    }

    function closeModal(){
      $('#addSearch').hide();
    }

    function regionSelect() {

      var selectedRegion = $( "input:checked" );
      var regionValue = '';
      for(var i = 0; i < selectedRegion.length; i++){
        regionValue += selectedRegion[i].value;
        if(i < selectedRegion.length - 1) {
          regionValue += ',';
        }
      }
      console.log(regionValue);
      markers.clearLayers();

      $.ajax({
        url: '/homeSearch',
        data: {regionValue: regionValue , priceMin: 50.0, priceMax: 500.0, limit: 300, shorten: true},
        type: 'get',

        success: function(data) {
          var homes = JSON.parse(data);
          var long, lat, marker;
          map.setView([37.5483, -121.9886], 8);
          for(var i = 0; i < homes.length; i++) {
            var home = homes[i];
            var image_url = '';
            if(home.images.length > 0 && home.images[0] != undefined){
              image_url = CDN_URL + 'photo/' + home.images[0].image_url
            }
            lat = home.geo_point.split(',')[0];
            long = home.geo_point.split(',')[1];

            marker = L.marker(new L.LatLng(lat, long), {
              icon: L.mapbox.marker.icon({'marker-symbol': 'warehouse', 'marker-color': '0044FF'}),
            });

            var slideshowContent = '';

            slideshowContent += '<div class="image active">' + '<a href="' + CLIENT_URL + '/home/' + home.id + '">' + '<div class="price">' + home.price + '</div>' + '<img src="' + image_url + '" />' + '</a>' + '<div class="caption">' + home.short_desc + '</div>' + '</div>';

            // Create custom popup content
            var popupContent =  '<div id="' + home.id + '" class="popup">' +
                '<a href="' + CLIENT_URL + '/home/' + home.id + '">' +
                '<h2>' + home.addr1 + '</h2>' + '</a>' +
                '<div class="slideshow">' +
                slideshowContent +
                '</div>' +
                '</div>';

            marker.bindPopup(popupContent, {
              closeButton: false,
              minWidth: 320
            });

            markers.addLayer(marker);

          }
          map.addLayer(markers);
          map.setView([lat, long], map.getZoom() + 1);

          closeArea();
          $("#map").css("visibility", "visible");
          $(".opened .title").trigger('click');
        },
        error: function(data) {

        }
      });

      if(uid != '' && uid != undefined)   {
        addSearch(region)
      }

    };
  </script>
</body>
</html>